<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Task Form</h1>
<form action="#" th:action="@{/process}" th:object="${task}" method="post">
    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br />
    Priority :<input type="text" th:field="*{priority}" />
    <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></span><br />
    Due Date :<input type="date" th:field="*{dueDate}" th:value="*{dueDate}" />
    <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span><br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>